@import '../../styles/index.scss';

.form__input, .form__select, .form__btn {
    height: 3.5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid black;
    margin: 1rem 0.1rem;
    font-size: $main-text;
    line-height: 1.5;
    background-color: white;

    @media (min-width: $tablet) {
        height: 4rem;
    }

    @media (min-width: $desktop) {
        height: 4rem;
        font-size: $main-text-desktop;
        line-height: 1.8;
    }
}

.form__input:focus-visible, .form__select:focus-visible, .form__btn:focus-visible {
    outline-color: $focus-color;
}

.form__input {
    width: 65%;
    font-size: $main-text;
    margin-bottom: 1rem;

    @media (min-width: $desktop) {
        width: 60%;
    }
}

.form__btn {
    @include button($main-color);
    border-radius: 50%;
    width: 3.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet) {
        width: 4rem;
    }

    @media (min-width: $desktop) {
        width: 4rem;
        font-size: $main-text-desktop;
    }
}

