@import './/variables';

@mixin button($_backgroundColor) {
    border: 0;
    border-radius: 1rem;
    line-height: 1.7;
    font-size: $main-text;
    font-weight: 600;
    background-color: $_backgroundColor;
    color: white;
    cursor: pointer;

    &:active {
        background-color: darken($color: $_backgroundColor, $amount: 20);
        color: white;
    }
}