//font-size
$h1: 4rem;
$h2: 2.5rem;
$h2-desktop: 3rem;
$main-text: 1.6rem;
$main-text-desktop: 2rem;

// devices
$desktop: 1024px;
$tablet: 768px;
$phone: 320px;

//color
$main-color: blue;
$low-result-color: rgb(185, 9, 9);
$medium-result-color: rgb(255, 255, 5);
$high-result-color: green;