@import '../../../styles/index.scss';

.category-subtitle {
    margin-left: 2rem;
    margin-bottom: 1rem;
    @media (min-width: $desktop) {
        font-size: $h2-desktop;
    }
}

.card__container {
    padding: 1rem 2rem;
    display: flex;
    gap: 0.7rem;
    flex-direction: row;
    align-items: stretch;
    
    flex-wrap: nowrap;
    overflow: scroll;
    scrollbar-width: none;
    min-height: 179.5px;
}