@import '../../styles/index.scss';

.header {
    background-color: $main-color;
    padding-left: 4.5rem; 
    
    &__title {
        color: white;
        font-size: $h1;
        margin: 0;
        line-height: 1.5;
    }


}
